body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

h1 {
    font-size: 32px;
}

h2 {
    margin-top: 24px;
}

p {
    font-size: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

ul {
    color: #444;
}
