body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
}
header h1 {
  margin: 0;
  background-color: rgb(203, 203, 203);
}

nav ul {
  display: flex;
  flex-direction: column;
  /* mobile default */
  list-style: none;
  padding: 20px;
  margin: 0;
  background-color: rgb(158, 158, 255);

}

@media (min-width: 500px) {
  nav ul {
    flex-direction: row;
    gap: 20px;
  }
}


section {
  margin: 20px;
  padding: 16px;
  border: 1px solid #ccc;
}

article {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px dashed #aaa;
}